<header>
    <div class="header">
        <div class="row">
            <div class="col">
                <h1>LICTOR</h1>
            </div>
            <div class="col text-center">
                <p>IMAGEN</p>
            </div>
            <div class="col text-end">
                <button (click)="logout()"><fa-icon [icon]="faUser"></fa-icon>CERRAR SESIÓN</button> <!-- mirar los iconos fontawesome -->
            </div>
            
        </div>
        <div class="row">
            <div class="col text-center">
                <p>Bienvenido USER</p>
            </div>
            
        </div>
    </div>
    
</header>