<body>
    <div class="container">
    
    
        <div class="text-end" >
            <button class="btn btn-primary" routerLink="actuaciones-form">Nueva Actuacion</button>
        </div>
    
        <div>
            <router-outlet></router-outlet>
        </div>
        
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Expediente</th>
                        <th>Nombre</th>
                        <th>Tipo Expediente</th>
                        <th>Fecha </th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (actuacion of actuaciones; track actuacion.id) {
                        <tr>
                            <td>{{actuacion.expediente.numero}}</td>
                            <td>{{actuacion.nombre}}</td>
                            <td>{{actuacion.expediente.expediente.nombre}}</td>
                            <td>{{actuacion.fecha}}</td>
                            @if (actuacion.estado) {
                                <td>Viva</td>
                            }@else {
                                <td>Archivada</td>
                            }
                            <td>{{actuacion.descripcion}}</td>
                            <td>
                                <div>
                                    <a class="btn btn-light" routerLink={{actuacion.id}}>Editar</a>
                                    <a class="btn btn-danger" (click)="deleteActuacion(actuacion)">Eliminar</a>
                                </div>
                            </td>
                    }
                </tbody>
            </table>
        </div>
    
    </div>
</body>
