<div class="container py-5 h-100">
    <h2>Nuevo Tipo de Expediente</h2>

    <form [formGroup]="form" (ngSubmit)="create()" class="mt-4">
        <div class="mb-3 d-flex align-items-end">
            <input type="text" id="nombre" name="nombre" placeholder="Tipo Expediente" formControlName="nombre" class="form-control me-2">
            
            <button type="button" class="btn btn-light ms-2" routerLink="/tipo-expediente">Cancelar</button>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
    

</div>
<router-outlet></router-outlet>