<div class="container">
    
    <div class="text-end" >
        <button class="btn btn-primary" routerLink="tipo-form">Nuevo Tipo de Expediente</button>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
    
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-end"></th>
                </tr>
            </thead>
            <tbody>
                @for (tipo of tipos; track tipo.id) {
                    <tr>
                        <td class="text-center">{{tipo.nombre}}</td>
                        <td class="text-end">
                            <div>
                                <button class="btn btn-light" [routerLink]="[tipo.id, tipo.nombre]">Editar</button>
                                <button class="btn btn-danger">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
    </div>
</div>
