
<div class="container">
    <div class="row">
        <p>PAGINA DE TIPOS DE EXPEDIENTES</p>
    </div>
    <div class="text-end" >
        <button class="btn btn-primary" routerLink="/tipo-form">Nuevo Tipo de Expediente</button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @for (tipo of tipos; track tipo.id) {
                    <tr>
                        <td>{{tipo.nombre}}</td>
                    </tr>
                }
            </tbody>
        </table>
       
    </div>
</div>
<router-outlet></router-outlet>