<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    
</head>
<body>
    
    <div class="container">
        
            <div class="box" routerLink="/tipo-expediente">Tipo <br>de <br>Expediente</div>
            <div class="box" routerLink="/expedientes">Expedientes</div>
        
            <div class="box" routerLink="/actuaciones">Actuaciones</div>
            <div class="box" routerLink="/documentos">Documentos</div>
            
    </div>
    
</body>
</html>
