<div class="container">
    <div class="row">
        <p>PAGINA DE DOCUMENTOS</p>
    </div>
    <div class="text-end" >
        <button class="btn btn-primary" routerLink="documentos-form">Nuevo Documento</button>
    </div>
    <div>
        <router-outlet></router-outlet>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>

                </tr>
            </thead>
            <tbody>
                @for (documento of document; track documento.id) {
                    <tr>
                        <td>{{documento.nombre}}</td>
                        <td>{{documento.fecha}}</td>
                        <td>{{documento.descripcion}}</td>
                    </tr>
                }
            </tbody>
        </table>
       
    </div>
</div>