<div class="container">

    <div class="text-end" >
        <button class="btn btn-primary" routerLink="documentos-form">Nuevo Documento</button>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (documento of document; track documento.id) {
                    <tr>
                        <td>{{documento.nombre}}</td>
                        <td>{{documento.fecha}}</td>
                        <td>{{documento.descripcion}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="{{documento.id}}">Editar</button>
                            <button class="btn btn-danger" (click)="deleteDocumento(documento)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       
    </div>
</div>