<div class="container">
    
    <div class="text-end" >
        <button class="btn btn-primary" routerLink="expedientes-form">Nuevo Expediente</button>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Exp</th>
                    <th>Fecha</th>
                    <th>Numero </th>
                    <th>Materia</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Resp. Seg</th>
                    <th>Condicion</th>
                    <th>Consejeria</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (expediente of expedientes; track expediente.id) {
                    <tr>
                        <td>{{expediente.expediente.nombre}}</td>
                        <td>{{expediente.fecha}}</td>
                        <td>{{expediente.numero}}</td>
                        <td>{{expediente.materia}}</td>
                        @if (expediente.estado) {
                            <td>Vivo</td>
                        }@else {
                            <td>Archivado</td>
                        }
                        <td>{{expediente.responsable}}</td>
                        <td>{{expediente.responsable2}}</td>
                        <td>{{expediente.condicion}}</td>
                        <td>{{expediente.consejeria}}</td>
                        <td>{{expediente.precio}}</td>
                        <td>{{expediente.descripcion}}</td>
                        <td>
                            <div>
                                <a class="btn btn-light" routerLink={{expediente.id}}>Editar</a>
                                <a class="btn btn-danger" (click)="deleteExpediente(expediente)">Eliminar</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
       
    </div>
</div>