<div class="container py-5 h-100">
    <h2>
        @if (documentExiste) {
            Editar
        }@else {
            Nuevo
        }
        Documento
    </h2>

    @if (form) {
        <form [formGroup]="form" (ngSubmit)="create()" class="mt-4">
        
            <div class="mb-3 d-flex">
                
                <input type="text" name="nombre" placeholder="Nombre" formControlName="nombre" class="form-control me-2">
                <input type="date" name="fecha" formControlName="fecha" class="form-control me-2">
                <input type="text-area" name="descripcion" placeholder="Descripción" formControlName="descripcion" class="form-control me-2">
    
                <select name="tipo" formControlName="tipo" class="form-select me-2">
                    <option [ngValue]="null" disabled selected>Seleccionar Expediente relacionado</option>
                    
                        @for (actu of actuAciones; track actu.id) {
                            <option [ngValue]="
                                    { id: actu.id, nombre: actu.nombre, fecha: actu.fecha, 
                                    descripcion: actu.descripcion, estado: actu.estado, 
                                    expediente: actu.expediente }">
                                {{ actu.expediente.numero }}
                            </option>
                        }
                
                </select>

                <input type="file" name="archivo" formControlName="archivo" class="form-control me-2">
    
                <button type="button" class="btn btn-light ms-2" routerLink="/documentos">Cancelar</button>
                <button type="submit" class="btn btn-primary">
                    @if (documentExiste) {
                        Actualizar
                    }@else {
                        Crear
                    }
                </button>
    
            </div>
        </form>
    }

    
</div>
<router-outlet></router-outlet>