<div class="container py-5 h-100">
    <h2>
        @if (actuacionesExiste) {
            Editar
        } @else {
            Nueva
        }
        Actuacion
    </h2>

    @if (form) {
        <form [formGroup]="form" (ngSubmit)="create()" class="mt-4">
        
            <div class="mb-3 d-flex align-items-end">
                 <!-- Aqui un desplegable de los Expedientes -->
                
                 <select id="expediente" name="expediente" formControlName="expediente" class="form-select me-2">
                    <option [ngValue]="null" disabled selected>Seleccionar Expediente</option>
                    
                        @for (tipo of expeDientes; track tipo.id) {
                            <option [ngValue]="
                                    { id: tipo.id, fecha: tipo.fecha, numero: tipo.numero, 
                                    materia: tipo.materia, estado: tipo.estado, responsable: tipo.responsable, 
                                    responsable2: tipo.responsable2, descripcion: tipo.descripcion, 
                                    condicion: tipo.condicion, precio: tipo.precio, consejeria: tipo.consejeria, 
                                    expediente: tipo.expediente }"> <!-- Valores del Expediente -->
                                {{ tipo.numero }}
                            </option>
                }
                </select>
                <!-- Actuacion Nombre Desplegable -->
                <select id="nombre" name="nombre" formControlName="nombre" class="form-select me-2">
                    <option [ngValue]="null" disabled selected>Nombre</option>
                    
                        <option>
                            Citacion y emplazamiento
                        </option>
                        <option>
                            Declaraciones
                        </option>
                        <option>
                            Informes
                        </option>
                        <option>
                            Notificaciones
                        </option>
                        <option>
                            Resoluciones judiciales
                        </option>
                </select>
                
                <input type="date" id="fecha" name="fecha" formControlName="fecha" class="form-control me-2">
                 <!-- Aqui un booleano  para estado -->
                 <div class="form-check">
                    <input type="checkbox" id="estado" name="estado" formControlName="estado" class="form-check-input">
                    <label for="estado" class="form-check-label">Estado vivo</label>
                </div>
                <input type="text-area" id="descripcion" name="descripcion" placeholder="Descripcion" formControlName="descripcion" class="form-control me-2">
        
                <button type="button" class="btn btn-light ms-2" routerLink="/actuaciones">Cancelar</button>
                <button type="submit" class="btn btn-primary">
                    @if (actuacionesExiste) {
                        Actualizar
                    }@else {
                        Crear
                    }
                </button>
            </div>
        </form>
        
    }
</div>
               
